/* You can add global styles to this file, and also import other style files */
body{
  background-color: #123;
  color: #CCC;
}
hr{
  color:#456;
  background-color: #456;
  border: 1px #456 solid;
}
